.board {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 2em auto;
    /* border: 1px solid black;
    box-shadow: 0px 10px 30px -8px #4d17b3ad;
    background: #ffffff; */
}


