/* .image-box {
    display: inline-block;
} */

img {
    width: 160px;
    height: 160px;
    box-shadow: 0px 10px 30px -8px #4d17b3ad;
    margin: 1em;
    border: 2px solid #4d17b3;
    transition: all 1s;
}

img:hover {
    transform: scale(1.1);
    transition: all 0.5s;
    cursor: pointer;
}

img:active {
    transform: scale(1.05);
    transition: all 0.25s;
}

.image-item {
    /* grid-template-areas: 2 / 3; */
}